.cardimage {
  width: 30%;

  border:  groove;
}
.cardimage img {
  width: 100%;
  height: 400px;
  
}

.pearntimage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
}
